[submodule "Sign/vendor/DirectX-Headers"]
	path = Sign/vendor/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
[submodule "Sign/vendor/ImGui"]
	path = Sign/vendor/ImGui
	url = https://github.com/ReignDer/imgui
[submodule "Sign/vendor/DirectXTex"]
	path = Sign/vendor/DirectXTex
	url = https://github.com/ReignDer/DirectXTex
[submodule "Sign/vendor/ImGuizmo"]
	path = Sign/vendor/ImGuizmo
	url = https://github.com/ReignDer/ImGuizmo
[submodule "Sign/vendor/tinyobjloader"]
	path = Sign/vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
